$primary-color : #6C63FF;
$dark-color : #3F3D56;
$secondary : #5B5583;

.main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    &__text {
        display: flex;
        flex-direction: column;
        &__headings {
            &-heading {
                font-size: 2.1rem;
                font-weight: 500;
            }
            &-subheading {
                width: 57%;
                margin-top: 0.8rem;
                color: rgb(85, 85, 85);
                font-weight: 500;
            }
        }
        &__buttons {
            margin-top: 3rem;
            display: flex;

        }
    }
    &__image-container {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        &__image {
            width: 87%;
            margin: auto;
            margin-top: -2rem;
        }
    }

}

.foot {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    &-line {
        hr {
        width: 50%;
        }
    }
    &-text {
        margin-top: 1rem;
        font-weight: 400;
        &-link {
            color: $primary-color;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }


}

.foot-end {

    position: absolute;
    right: 135px;
    bottom: 30px;
}