@import '../index.scss';
.next__header {
    height: 10vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-bottom: 1px solid rgba($color: white, $alpha: 0.2);
    
    &__content {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 1.7rem 0;

        
        &__leave {
            color: white;
            font-size: 1.1rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;


            &:hover {
                color: $primary-color;
                text-decoration: underline;
            }
        }
        &__user {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: white;
            font-size: 1rem;

            &-icon {
                width: 15%;
            }
            &-name {
                margin-left: 0.3rem;
                font-weight: 500;
            transition: all 0.3s ease-in-out;

                &:hover {
                    color: $primary-color;
                    text-decoration: underline;
                }
            }
        }
    }
}
