@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shippori+Antique+B1&display=swap');

$primary-color : #6C63FF;
$primary-color-less : #6b63ff5b;
$primary-color-less-2 : #6b63ff1e;
$dark-color : #3F3D56;
$secondary : #5B5583;




* {
    
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


